<div class="container" style="width: 100%;">
    <table class="table">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Customers</th>
                <th>ProductName</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Customer Paid Amount</th>
                <th>Total Amount</th>
                <th>Balance Amount</th>
                <th>Date Created</th>
                <th>Add</th>
                <th>Delete</th>


            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bmsCust of bmsCustomList;let i =index;">
                <td>{{i+1}}</td>
                <td>
                    <label for="area"></label>
                    <select 
                        style="width: 145px;padding: 6px;border: 1px solid #070727;border-radius: 4px"
                         name="area" id="area" [(ngModel)]="bmsCust.customerId">
                        <option selected *ngFor="let customer of customers" value="{{customer.id}}">{{customer.fname}}</option>

                    </select>
                </td>
                <td>
                    <select 
                        style="width: 145px;padding: 6px;border: 1px solid #070727;border-radius: 4px"
                         name="area" id="area" [(ngModel)]="bmsCust.productId">
                        <option *ngFor="let product of products" value="{{product.id}}">{{product.productName}}</option>

                    </select>
                </td>
                <td><input [(ngModel)]="bmsCust.quantity" (keyup)="cal(bms)" type="text" name="quantity" id="quantity"></td>
                <td><input [(ngModel)]="bmsCust.unitPrice" (keyup)="cal(bms)" type="text" name="unitPrice" id="unitPrice"></td>
                <td><input [(ngModel)]="bmsCust.customerAmt" (keyup)="calBal(bms)" type="text" name="customerAmt" id="customerAmt"></td>
                <td><input [(ngModel)]="bmsCust.totalAmt"  [disabled]="true" type="text" name="totalAmt" id="totalAmt"></td>
                <td><input [(ngModel)]="bmsCust.balanceAmt" [disabled]="true" type="text" name="balanceAmt" id="balanceAmt"></td>
                <td style="vertical-align: middle;">
                    <!-- <input [(ngModel)]="bms.dateCreated"  name="dateCreated" id="dateCreated" [disabled]="true"> -->
                    <span>{{bms.dateCreated | date :'dd/MM/yyyy'}}</span>
                </td>
                <td><button class="btn btn-success" style="background-color: #4b1c6e;" (click)="addBms()">Add</button></td>
                <td><button class="btn btn-success" [disabled]="disableFlag" style="background-color: #4b1c6e;" (click)="deleteBms(1)">Delete</button></td>


            </tr>

        </tbody>
    </table>
    
</div>

<button style="margin: 0 auto;
float: right;
margin-right: 50%;" class="btn btn-primary" (click)="save()"> Save</button>

 <div class="container" style="width: 100%;margin-top: 8%;">
      <h2>View Existing Bills</h2>
          <table class="table">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Customer Name</th>
            <th>ProductName</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Customer Paid Amount</th>
            <th>Total Amount</th>
            <th>Balance Amount</th>
            <th>Date Created</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bms of bmsList;let i=index;">
            <td>{{i+1}}</td>
  
            <td>{{bms.customerName}}</td>
            <td>{{bms.productName}}</td>
            <td>{{bms.quantity}}</td>
            <td>{{bms.unitPrice}}</td>
            <td>{{bms.customerAmt}}</td>
            <td>{{bms.totalAmt}}</td>
            <td>{{bms.balanceAmt}}</td>
            <td>{{bms.dateCreated | date: 'dd/MM/yyyy'}}</td>


  
          </tr>
          
        </tbody>
      </table>
    </div>  