<div class="container" style="width: 100%;">
    <h2>Add Product</h2>
    <!-- <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input [(ngModel)]="product.productName" type="text" name="productName" id="productName"></td>
            </tr>

        </tbody>
    </table> -->

    <form style="width: 20%;">

        <div class="form-group">
            <label for="pname">Product Name:</label>
            <input type="text" [(ngModel)]="product.productName" class="form-control" name="productName" id="pname">
        </div>

        <button type="button" (click)="save()" class="btn btn-success">Save Product</button>
    </form>
</div>


<div class="container" style="width: 100%;">
    <h2>View Existing Products</h2>
    <table class="table">
        <thead>
            <tr>
                <th>S.No</th>
                <th>productName</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products;let i=index;">
                <td>{{i+1}}</td>
                <td>{{product.productName}}</td>


            </tr>

        </tbody>
    </table>
</div>